libraries
.libraries.json
**/node_modules
**/dist
**/package-lock.json
go.sum
.DS_Store

.classpath
.settings/
.project

**/csharp/**/bin/
**/csharp/**/obj/
**/csharp/**/.vs/

.idea/
target/
*.iml
*.sh
